h1, h2 {
    color: green;
  }
  
  
  p {
    color: gray;
  }
  
  ul {
    border: 5px solid orange;
  }
  
  ol {
    border: 5px solid purple;
  }
  
  ol, ul {
    padding: 10px 30px;
    border-radius: 25px;
  }
  
  h1, strong {
    color: green;
  }
  
  em {
    color: gray;
  }